---
import Technologies from './Technologies.astro';
import { Icon } from 'astro-icon/components';

export interface Props {
  data: {
    title: string;
    image: string;
    description: string;
    technologies: string[];
    demoURL: string;
    codeURL: string;
  };
  delay: number;
}

const { data, delay } = Astro.props;

const getDelayClass = (index: number) => {
  const delays = [
    '',
    'delay-100',
    'delay-200',
    'delay-300',
    'delay-500',
    'delay-700',
  ];
  return delays[index] || 'delay-1000';
};
---

<div
  class={`mb-8 ${getDelayClass(delay)}`}
  data-observe="true"
  data-trigger-once="true"
>
  <div
    class="bg-gray-100 border-2 border-gray-200 rounded-lg h-full flex flex-col overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300"
  >
    <div class="overflow-hidden p-0 bg-gray-100">
      <a target="_blank" href={data.demoURL} rel="noreferrer">
        <picture>
          <source type="image/webp" srcset={`${data.image}.webp`} />
          <source type="image/jpeg" srcset={`${data.image}.jpg`} />
          <img
            src={data.image}
            alt={data.title}
            class="w-full h-64 object-cover rounded-t-lg transition-transform duration-300 hover:scale-[1.3]"
            width="450"
            height="250"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </a>
    </div>
    <div class="p-6 flex flex-col flex-grow bg-gray-100">
      <h3 class="font-bold text-xl uppercase mb-4 text-gray-900 tracking-wide">
        {data.title}
      </h3>
      <p class="text-gray-700 flex-grow mb-4">{data.description}</p>
      <p class="font-bold uppercase text-gray-900 mb-3">Technologies Used</p>
      <div class="mb-4 flex flex-wrap justify-center gap-2">
        <Technologies technologies={data.technologies} width={40} />
      </div>
    </div>
    <div class="border-0 bg-gray-100 p-6 pt-0">
      <div class="flex justify-around space-x-4">
        <a
          target="_blank"
          class="group flex items-center border-2 border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-white hover:shadow-lg hover:shadow-black/15 font-bold px-4 py-2 rounded-lg transition-all duration-300 flex-1 justify-center"
          href={data.demoURL}
          rel="noreferrer"
        >
          <span class="uppercase mr-2 tracking-widest">Demo</span>
          <Icon
            name="mdi:rocket-launch"
            class="w-5 h-5 transition-transform duration-300"
          />
        </a>
        <a
          target="_blank"
          class="group flex items-center border-2 border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-white hover:shadow-lg hover:shadow-black/15 font-bold px-4 py-2 rounded-lg transition-all duration-300 flex-1 justify-center"
          href={data.codeURL}
          rel="noreferrer"
        >
          <span class="uppercase mr-2 tracking-widest">Code</span>
          <Icon
            name="mdi:github"
            class="w-5 h-5 transition-transform duration-300"
          />
        </a>
      </div>
    </div>
  </div>
</div>
